<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=DESKTOP-17CKR5L;Initial Catalog=DATABASE;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies/>
      <buildProviders/>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers/>
  </system.webServer>
</configuration>